.contact-sub-container {
	max-width: 100%;
	height: auto;
	/*	border: 1px solid black;*/
	background-color: #222831;
/*	background-color: #31363F;*/
/* background: #303841;*/
/* background: #1B2430;*/
	color:white;
	margin-top: 10px;
	padding: 20px;
	display: flex;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
	border-radius: 10px;
/*	border:1px double white;*/
/*	box-shadow: 1px 1px 10px 0.3px white;*/
		margin-bottom: 10px;
		font-size: 1.7rem;
}

.contact-sub-container > div {
	width: 100%;
	height: auto;
	margin: 10px;
	/*	border: 1px solid black;*/
	word-break: break-word;
}

.contact-sub-container > div > a {
	text-decoration: none;
	color:white;
	border-bottom: 1px solid white;
}

@media screen and (max-width:360px) {
	.contact-sub-container {
		font-size: 1.2rem;
	}
}