/* Base Layout */
.contact-container {
  width: 100%;
  margin: auto;
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  scroll-margin-top: 60px;
/*  border:1px solid white;*/
margin-bottom: 40px;
}

.contact-links {
	font-family: "Poppins";
	font-weight: "800";
}

/* Info Section */
.contact-info {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-title {
  font-family: monospace;
  font-weight: 800;
  font-size: 1.5rem;
  color: white;
  margin-bottom: 16px;
}

/* Right-side Image */
.contact-image {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
/*  border:1px solid white;*/
}

.contact-image > img {
  width:100%;
  height:100%;
/*  border-radius: 50%;*/
}

.info-sections {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
/*  border: 1px solid white*/
}

.info-block {
  width: 100%;
  margin: 8px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
/*  border: 1px solid white*/

}

@media (min-width: 640px) {
  .info-block {
    justify-content: space-around;
  }
}

/* Icons */
.icon-container {
  width: 40px;
  height: 40px;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
/*  border: 1px solid white*/
}

@media (min-width: 640px) {
  .icon-container {
    width: 50px;
    height: 50px;
  }
}

.icon-image {
  width: 100%;
  height: 100%;
}

/* Text */
.text-container {
  width: 400px;
  text-align: center;
}

.text-container > a {
  width: 400px;
}

@media (min-width: 640px) {
  .text-container {
    text-align: left;
  }
}

.text-container p,
.text-container a {
  font-size: 1rem;
  color: white;
  text-decoration: none;
}

@media (min-width: 640px) {
  .text-container p,
  .text-container a {
    font-size: 1.5rem;
  }
}


@media (max-width: 640px) {
  .contact-image {
    width: 400px;
  }
}

.contact-image img {
  width: 100%;
  height: auto;
}


@media (min-width: 640px) {
  #about-header {
    font-size: 2.25rem; /* equivalent to sm:text-4xl */
  }

}