@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
.project-cards-container {
	/*	width: 100vw;*/
	/*	height: 100vh;*/
	/*	background: linear-gradient(#f9f5f6, #e8ffce, #279eff);*/
}

.project-cards-sub-container {
	max-width: 400px;
	height: auto;
	/*	border: 1px solid blue;*/
	overflow: hidden;
	padding: 5px;
	margin: auto;
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	/*	word-break: break-word;*/
	border-radius: 10px;
	box-shadow: 0.1px 0.1px 1px 0.2px black;
	margin: 20px;
}

.project-view-card {
	max-width: 400px;
	height: auto;
	border: thick double #32a1ce;
	margin: auto;
	border-radius: 10px;
}

.project-view-card > img {
	max-width: 100%;
	min-height: 100%;
	border-radius: 10px;
}

.project-info-card {
	width: 55%;
	/*	max-width: 400px;*/
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/*	padding: 5px;*/
	word-break: break-word;
	text-align: center;
}

#project-title {
	font-family: "Josefin Sans", sans-serif;
	/*	font-family: "Luckiest Guy", cursive;*/
	font-size: 2rem;
	/*	font-weight: 1;*/
	color: blue;
}

#project-tech-info {
	font-family: "EB Garamond", serif;
	font-weight: 200;
	font-size: 1.8rem;
}

.project-info-card > a {
	text-decoration: none;
}

#live-image-link {
	max-width: 20px;
	height: 20px;
}

@media screen and (max-width: 360px) {
	.project-cards-container {
		max-width: 90%;
		height: auto;
		overflow: hidden;
	}
	.project-view-card {
		max-width: 500px;
		height: 200px;
	}

	.project-info-card {
		width: 50%;
		height: 100%;
		overflow: auto;
		padding: 10px;
	}

	#project-title {
		font-size: 1.5rem;
	}

	#project-tech-info {
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 320px) {
	.project-cards-container {
		max-width: 90%;
		height: auto;
		overflow: hidden;
	}
	.project-view-card {
		max-width: 500px;
		height: 200px;
	}

	.project-info-card {
		width: 50%;
		height: 100%;
		overflow: auto;
		padding: 10px;
	}

	#project-title {
		font-size: 1.3rem;
	}

	#project-tech-info {
		font-size: 1.3rem;
	}
}
