.main-contact-container {
	max-width: 100%;
	height: auto;
	display: flex;
/*	border: 1px solid white;*/
	justify-content: center;
	margin: auto;
/*	margin-top: 10px;*/
	color: white;
}

@media screen and (max-width: 425px) {
	.contact-container {
		width: 90vw;
	}
}
