.contact-container {
	width: 100vw;
	height: auto;
	display: flex;
	/*	border: 1px solid black;*/
	justify-content: center;
	margin: auto;
	margin-top: 10px;
}

@media screen and (max-width: 425px) {
	.contact-container {
		width: 90vw;
	}
}
