@import url("https://fonts.googleapis.com/css?family=Ultra|Work+Sans:400,500|Montserrat:400");

.Services-container {
	max-width: 100%;
	height: auto;
/*		border: 1px solid white;*/
	margin: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
   flex-wrap: wrap;
   margin-bottom: 50px;
}

.Service-bucket {
/*	width: 90%;*/
    width:300px;
	height: 250px;
	/*	border: 1px solid black;*/
	margin: auto;
	padding: 10px;
	border-radius: 10px;
	/*	background: #d1e9f6;*/
	/*	background-color: #e8f9fd;*/
	/*	background-color: #e5d9f2;*/
/*	background-color: #1B2430;*/
	background-color: #1597BB;
	border-radius: 10px;
/*	box-shadow: 1px 1px 1px 1px #79a3b1;*/
	/*	background: hsla(200, 90%, 20%, 0.9);*/
	color: white;
	font-size: 1rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	/*	box-shadow: 1px 1px 2px 0.4px black;*/
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	margin-top: 5px;
}

.Service-bucket > img {
	max-width: 100px;
	height: 100px;
	margin: auto;
}
@media screen and (max-width: 425px) {
	.Service-bucket {
		font-size: 1rem;
	}
}
