.Services-container {
	max-width: 100%;
	height: auto;
	/*	border: 1px solid black;*/
	margin-top: 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.Service-bucket {
	max-width: 800px;
	height: auto;
	/*	border: 1px solid black;*/
	margin: auto;
	padding: 10px;
	border-radius: 10px;
	/*	background: #d1e9f6;*/
	/*	background-color: #e8f9fd;*/
	background-color: #e5d9f2;
	/*	background: hsla(200, 90%, 20%, 0.9);*/
	color: black;
	font-family: monospace;
	font-weight: initial;
	font-size: 1rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	box-shadow: 1px 1px 2px 0.4px black;
}

@media screen and (max-width: 425px) {
	.Service-bucket {
		font-size: 0.6rem;
	}
}
