.Services-container {
	max-width: 100%;
	height: auto;
	/*	border: 1px solid black;*/
	margin-top: 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.Service-bucket {
	max-width: 800px;
	height: auto;
	/*	border: 1px solid black;*/
	margin: auto;
	padding: 10px;
	border-radius: 10px;
	background: #fff7fc;
	font-size: 1rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	box-shadow: 1px 0.3px 10px 0.5px black;
}

@media screen and (max-width: 425px) {
	.Service-bucket {
		font-size: 0.6rem;
	}
}
