.nav-container {
	max-width: 200vw;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	padding: 10px;
	/*	word-wrap: break-word;*/
	word-break: break-word;
	position: sticky;
	top: 0px;
	/*	background-color: rgba(0, 0, 0, 0.2);*/
	/*	border-bottom: 1px solid black;*/
	z-index: 100;
	background: rgba(180, 105, 100, 0.06);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(2px);
	-webkit-backdrop-filter: blur(0px);
}

.routes-container {
	max-width: 40%;
	height: auto;
	display: flex;
	justify-content: center;
	/*	border: 1px solid bl ue;*/
}

.links-container {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	margin: auto;
	padding: 0;
}

.links-container > li > a {
	text-decoration: none;
	margin: 5px;
}

/*.menu-container {
	width: 40px;
	height: 30px;
	display: none;
	border: none;
}

.menu-container > div {
	width: 100%;
	min-height: 28%;
	background: red;
	margin: 1px;
}*/

@media screen and (max-width: 567px) {
	.routes-container {
		max-width: 250px;
	}
}

@media screen and (max-width: 350px) {
	.routes-container {
		max-width: 170px;
		font-size: 1rem;
	}
}
